<!-- Submit MODAL window -->


<script type="text/ng-template" id="submitSuccessModal">
        <div class="modal-header ">
            <h3 class="modal-title"><i style="display:inline" class="fa fa-check text-success fa-lg"></i> Success </h3>
        </div>
        <div class="modal-body">
            File successfully created and sent.
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="home()">Home</button>
			<button type="button" class="btn btn-default"  ng-csv="getExportArray()"  csv-header="getExportHeaders()" filename="{{theForm.fileName}}">Export to File</button>
			<button class="btn btn-primary" ng-click="returnDelete()">Return</button>
        </div>
</script>