.left-container {
	float: left;
	margin-right: 10px;
}

.right-container {
	float: right;
	margin-right: 10px;
}

.cafs-form input.ng-invalid.ng-touched {
	background-color: #FA787E;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.list-group.panel>.list-group-item {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px
}

.list-group-submenu {
	margin-left: 20px;
}

.loaList .pager .btn {
	font-size: 11px;
}

.loaList th div {
	float: left;
}

.sidebar ul li div.selected {
	background-color: #eee;
}

.sidebar ul li div {
	padding: 10px 15px;
	cursor: pointer;
	border-top: 1px solid #E7E7E7;
}

.sidebar ul li div:hover {
	background-color: #eee;
}

.sidebar ul li div a {
	text-decoration: none;
	color: #337AB7
}

.modal-dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
}

.submitted .ng-invalid {
	border: 1px solid red;
}

#navbarSignedIn {
	margin-right: 20px;
}

.bg-white {
	background-color: white;
}

.active>.slideDown {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.caret {
	padding-top: 8px;
	margin-top: 8px;
}

#applicationDropdown{
	margin-left: 20px;
margin-top: 10px;
margin-bottom: 10px;
}

#applicationDropdownButton{
width: 175px;
}

#appDropdown{
	padding: 0px;
	margin: 0px;
	width:175px;
	
}

#appDropdown li{
	text-align:center;
	padding: 3px;
}

#appDropdown li a {
	color:white;
}

#appDropdown  a:hover{
	background-color:#204d74;
}

#appDropdown li:hover {
	background-color:#204d74;
}

#appDropdown li:last-child{
	border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


body {
  //padding-top: 40px;
  //padding-bottom: 40px;
  //background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

#loginContainer{
	margin:0px;
	background-color:#EEE;
	height:100%;
}

.bg-grey{
	background-color: #eee;	
}


input.disabled {
    pointer-events:none;
    color:#AAA;
    background:#F5F5F5;
}

.inlineCenter{
	text-align: center;
	width: 100%;		
}

.ng-table th.filter .input-filter {

  font-size: 11px;
  min-height: 15px;
  height: 25px;

}

.ng-table-pager{
	height: 0px;
}


.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
    width:340px;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #A9A9A9;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

#importButton{
	padding-top:10px;
	text-align:center;
	width: 340px;	
}

#formTopContainer{
	margin-left: auto;
	margin-right: auto;
	width: 316px;	
}
 .fa{
 	display: block;
 	font-weight:bold;
 }
 
 .ng-table th.sortable {
 	font-family: FontAwesome;
 	font-size: 12px;
 }
 
 
 .wrapper {
  position: relative;
  height: 120px;
}

.reveal-animation {

  top: 0;
  left: 0;
  width:100%;
 /*  height:100%; */
}

#page-wrapper{
	position:initial;
}

.error {
  border: 1px solid red;
}

.navbar-brand{
	width: 125px;
}

.cafs-top-menu{
	margin-top: 8px;
}

.alert{
	height:inherit;
}
.centerElement{
	margin-right: auto;
	margin-left: auto;
}

#formPageSizer{
	display: inline;
	width: 75px;	
	margin-top: 10px;
}

.dataMapTitle{
	text-align: center;
	color: grey;
}

.mapCheckbox{
	float: left; 
	width: 100px; 
	z-index:1; 
}

.statesTop{
	width: 25%;
	float: right;
	margin-top: 5%;
}

.statesTopTitle{
	width: 200px;
	margin: auto;
	padding-left: 10px;
	
}

.statesTopTitleSort{
	color:#ffffff; 
	border-radius: 7px; 
	background-color: #5F5F5F; 
	float:left;
}

.statesTopTitleSort:hover{

	background-color: #727272; 
	color:#ffffff;
}

.statesTopTitleSort:active, .statesTopTitleSort:focus{

	background-color: #5F5F5F; 
	color:#ffffff;
}

.fdaDataMap{
	width: 75%;
}

.datamaps-legend {
	left: 40px;
	top:100%;
}



table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 20px auto;
	text-align: left;
	overflow-x: auto;
	display: block;
}	

th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	/* position: absolute; */
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 5px 10px;
	position: relative;
	transition: all 300ms;
}

.dark-background{
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444) !important;
	border-color: black !important;
}

.btn-xs.round {
    border-radius: 20px !important;
    margin-left: 5px  !important;
    margin-bottom: 3px;
}

.btn-group.padded{
	padding-left: 10px;
	padding-right: 10px;
	width: 80%;
}

.toggleFields{
	padding: 10px;
	font-weight: bold;
	width: 20%;
	float: left;
	text-align: center;
}

.toggleFieldsParent{
	width: 100%;
	margin-top: 12px;
	padding-bottom: 10px;
	border-bottom: grey solid 1px;
	
}

.jumbotron .sponsoring-text{
	margin-bottom: 50px;
	font-size: 10px;
	font-weight:bold;
}

.instructions{
	text-align: center;
	font-weight:bold;
	
}
