<div data-ng-controller="SftpFormCtrl" class="container" >
<div class="page-header">
	<h3 style="text-align: center"> Create {{theForm.title}} </h3>
</div>
<br/>
	<div id="formTopContainer">
		
		<ng-csv-import class="import" clear="clearImportFileName"	template="csv.template"	header="csv.header" error="error" separator="csv.separator" result="theForm.data"></ng-csv-import>
		
		<div data-ng-show="theForm.data.length === 0" class="reveal-animation">
			<div class="strike">
			   <span>OR</span>
			</div>
			<div  id="importButton">
				<button class="btn btn-primary btn-sm" ng-click="deleteAllRows()" style="width:200px"><span>Create File</span></button>
			</div>
		</div>
	</div>
	<br /><br />
	
<div data-ng-show="error.length > 0" class="alert alert-danger reveal-animation" role="alert">
	  		<span class="sr-only">Error:</span>
	  		<ul>
	  			<li data-ng-repeat="err in error">{{err}}</li>
	  		</ul>
</div>	
<form name="forms.importForm"  data-ng-show="theForm.data.length > 0" ng-class="[{'submitted': submitted}, 'reveal-animation']" data-ng-submit="submit()" >
	
	

	<div class="left-container">
		<button type="button" data-ng-click="addRow()" class="btn btn-primary btn-xs">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			Add
		</button>		
	</div>
	<div class="left-container">
		<button type="button" data-ng-click="openDeleteModal()" class="btn btn-danger btn-xs">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			Delete All
		</button>		
	</div>
    
    <br /><br />
    <div class="container-fluid form-group">
	    <div class="row"> 
	    	<label class="col-md-1">Line #</label>
	    	<label data-ng-repeat="header in headers" data-ng-class="theForm.fieldWidthClass" data-ng-attr-for="{{header.fieldName}}">{{header.fieldHeader}}</label> 
			<label class="col-md-1">Action</label>
	    </div>
		<div  class="row" data-dir-paginate="row in theForm.data | itemsPerPage:pageSize " pagination-id="formPagination">
				
				<div class="col-md-1">
					<input disabled class="form-control" type="text" data-ng-value="theForm.data.indexOf(row) +1" />
				</div>
				<div style="padding-bottom: 2px"  data-ng-class="[theForm.fieldWidthClass]" data-ng-repeat="field in row.fields">
					 <input class="form-control" data-ng-class="{'error' : isInvalid($parent.$index, field, row)}" data-ng-disabled="row.isImported" data-ng-attr-type="{{field.type}}" data-ng-attr-name="{{field.fieldName + $parent.$index}}"
						data-ng-attr-placeholder="{{field.fieldHeader}}" dyn-attr="field.options" ng-value="field.fieldValue" ng-model="field.fieldValue"/>
				</div>

				<div style="padding-bottom: 2px" class="col-md-1">
					<button data-ng-show="!row.isImported" data-ng-attr-aria-label="Delete {{row.fields[0].fieldHeader}}  {{row.fields[0].fieldValue}}" type="button" data-ng-click="deleteRow(theForm.data.indexOf(row))" class="btn btn-danger">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>					
					</button>
				
					<button data-ng-show="row.isImported" type="button" data-ng-attr-aria-label="Edit {{row.fields[0].fieldHeader}}  {{row.fields[0].fieldValue}}" data-ng-click="row.isImported = false" class="btn btn-warning">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>					
					</button>
				</div>
				
		</div>
	</div>
	
	 <div class="text-center" style="font-size:11px">
    	<dir-pagination-controls pagination-id="formPagination" template-url="view/template/tablePagination.tpl.html" boundary-links="true"></dir-pagination-controls>
     	
     </div>
     <div class="centerElement" style="width:200px">
               
            <label style="display:inline" for="pSize" >Items per page:</label>
        	<input type="number" min="1" max="100" class="form-control" value="1" ng-model="pageSize" id="formPageSizer">
      		
     </div>
	
	<br />
	
	
	<div class="left-container">
			<button type="submit" class="btn btn-primary" data-ng-click="error = null; submitted= true;">Submit</button>
			<button type="button" class="btn btn-default"  ng-csv="getExportArray()" csv-header="getExportHeaders()" filename="{{theForm.fileName}}">Export to File</button>
	</div>
	
	<br /><br />

</form>
</div>









