<div data-ng-controller='GraphCtrl' class="reveal-animation"  data-ng-show="foundData">
<hr/>
<a id='graphAnchor'></a>
<h2 class="dataMapTitle">{{graphTitle}}</h2>
<p class="instructions">(Click Graph for Details)</p>
<div class = "preloader-parent">
	<div class="absolute-center overlay" data-ng-show="isLoading">
		<div ng-activity-indicator="DottedDark" class="absolute-center" data-ng-show="isLoading"></div>
	</div>
	<div ac-chart="'bar'" ac-data="graphData" ac-config="graphConfig" id='chart' class='chart chart-bar'>
</div>
	</div>
</div>