<div data-ng-include src="'view/core/navBar.html'"></div>
<div id="page-wrapper" data-ng-controller="HomeCtrl" class="bg-white">
	<br /> <br />
	<header class="jumbotron hero-spacer well">
		<h2 class="text-primary">
			<strong>Welcome GSA OpenFDA</strong>
		</h2>
		<br />
		<p>Version 1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non
			incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
	</header>
	
	

	<hr/>
	
	<div style="text-align:center" data-ng-click="goTo('openfda/drugs/rps')">
		<a class="btn btn-lg btn-primary" href="javascript:void(0);">
	  	<i class="fa fa-bar-chart fa-2x pull-left"></i>Explore OpenFDA </a>
  </div>

</div>