<div data-ng-include src="'view/core/navBar.html'"></div>
<div id="page-wrapper" class="bg-white">
	<br /> <br />
	<header class="jumbotron hero-spacer well">
		<h2 class="text-primary">
			<strong>Welcome GSA OpenFDA</strong>
		</h2>
		<br />
		<p>Version 1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non
			incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
	</header>

	<hr></hr>

</div>